body {
    margin: 0;
}

.head {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.head-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 80px;
}

.head-top-links {
    display: flex;
    flex-direction: row;
}

.head-top-links .link {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.head-top-logo {
    display: flex;
    align-items: center;

}

.head-bottom {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://get.wallhere.com/photo/sunlight-trees-landscape-sunset-flowers-hill-nature-sky-clouds-sunrise-evening-morning-HDR-wilderness-dusk-path-cloud-tree-autumn-mountain-flower-dawn-meadow-prairie-rural-area-atmospheric-phenomenon-mountainous-landforms-mountain-range-meteorological-phenomenon-50773.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

